<ion-view view-title="{{ 'mm.login.connecttomoodle' | translate }}">
  <ion-nav-buttons side="secondary">
      <button class="button button-icon ion-help-circled" ng-click="showHelp()" aria-label="{{ 'mm.core.help' | translate }}"></button>
  </ion-nav-buttons>
  <ion-content id="mm-login-site" mm-state-class>
      <div class="list">
        <div class="item item-text-wrap">{{ 'mm.login.newsitedescription' | translate }}</div>
            <label
            
            <label>kurz.domluvimseanglicky.cz <input type="url" ng-model="siteurl">
            </label>
          
          
          <div class="padding">
               <button class="button button-block" ng-click="connect(siteurl)">{{ 'mm.login.connect' | translate }}</button>

              <!-- <input type="submit" class="button button-block" value="{{ 'mm.login.connect' | translate }}" > -->
          </div>
        </form>
      </div>
    </form>
  </ion-content>
</ion-view>
