<ion-view view-title="{{ 'mm.login.connecttomoodle' | translate }}">
  <ion-nav-buttons side="secondary">
      <button class="button button-icon ion-help-circled" ng-click="showHelp()" aria-label="{{ 'mm.core.help' | translate }}"></button>
  </ion-nav-buttons>
  <ion-content id="mm-login-site" mm-state-class>
      <div class="list">
        <div class="item item-text-wrap">{{ 'mm.login.newsitedescription' | translate }}</div>
                  <label class="item item-input item-stacked-label">
                    
                    <label for="male">Male</label>
  <input type="radio" name="gender" id="male" value="male"><br>
            <span class="label">{{ 'mm.login.siteaddress' | translate }}</span>
            <input type="url" value="kurz.domluvimseanglicky.cz" ng-model="siteurl" mm-auto-focus >
          </label>
          <div class="padding">
               <button class="button button-block" ng-click="connect(siteurl)">{{ 'mm.login.connect' | translate }}</button>

              <!-- <input type="submit" class="button button-block" value="{{ 'mm.login.connect' | translate }}" > -->
          </div>
        </form>
      </div>
    </form>
  </ion-content>
</ion-view>
